<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>Employee Reimbursement System</display-name>
	<servlet>
		<servlet-name>EmployeePage</servlet-name>
		<servlet-class>com.revature.controller.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeePage</servlet-name>
		<url-pattern>/Employee</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/notFoundError.html</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.html</location>
	</error-page>
</web-app>